// ============ROOT===========
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
// ============Transitions===========
.white {
    .nav-list {
        .nav-item {
            .nav-link {
                display: block;
                transition: outline, font-size 200ms ease-in-out, transform 100ms ease-in;
                &:hover {
                    font-size: 2.2rem;
                    outline: #333 outset 4px;
                    outline-offset: 40px;
                    transform: translate(40%,-10px);
                }
            }
        }
    } 
}


.blue {
    background-color: blue;
    .nav-list {
        z-index: -19;
        display: inline-block;
        &:hover {
            opacity: 0.6;
        }
        .nav-item {
            
            .nav-link {
                perspective: 3000px;
                display: block;
                &:hover {
                    opacity: 1;
                    color: $white;

                }
            }
        }
    }
    
    
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}

// ==========Nav===========

.nav-bar {
    padding-bottom: 1rem;
    width: 100%;
    .nav-logo {
        font-size: 2.37rem;
        font-weight: regular;
        color: #333;
        text-indent: 100px;
    }
    .nav-list {
        margin-top: 10px;
        z-index: 999;
        padding-bottom: .33rem;
        .nav-item {
            margin-left: 1rem;
            list-style-type: none;
            padding: 0;
            display: inline-block;
            .nav-link {
                text-decoration: none;
                color: #DDD;
                text-transform: none;
                font-size: 1.77rem;
               
            }
        }
    }
}